.banner {
    position: absolute;
    width: 1152px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #B71C1C;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .searchbars input{
    width: 304px;
    height: 41px;
    background: #F05545;
    border-radius: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    border: 0px;
  }
  
  .searchyums {
    position: absolute;
    left: 234px;
    top: 281px;
  }
  
  .location {
    position: absolute;
    left: 604px;
    top: 281px;
  }
  
  .letseat {
  position: absolute;
  width: 166px;
  height: 48px;
  left: 493px;
  top: 381px;
  border: 0px;
  background: #F05545;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  }